In [7]:
import numpy as np
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity
import random
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
import re
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from sklearn.model_selection import GridSearchCV
import joblib

In [1]:
import sklearn
print(sklearn.__version__)

1.5.1

In [9]:
skills_df = pd.read_excel('C:\\Users\\athar\\Big-Data-Project\\project_data\\2023-33\\skills.xlsx', sheet_name = 2, header = 1)

In [11]:
skills_df = skills_df.rename(columns = {"2023 National Employment Matrix title" : "Occupation","Typical education needed for entry" : "Education","Median annual wage, dollars, 2023[1]" : "Salary"})

In [13]:
skills_df = skills_df.drop(columns = ['2023 National Employment Matrix code','Employment, 2023','Employment, 2033','Employment change, numeric, 2023–33','Employment change, percent, 2023–33'])

In [15]:
skills_df.head()

,Occupation,Salary,Education,Adaptability,Computers and information technology,Creativity and innovation,Critical and analytical thinking,Customer service,Detail oriented,Fine motor,Interpersonal,Leadership,Mathematics,Mechanical,Physical strength and stamina,Problem solving and decision making,Project management,Science,Speaking and listening,Writing and reading
0,"Total, all occupations",48060,—,3.8,3.0,2.7,3.1,3.3,3.6,2.5,3.5,3.2,2.6,1.9,2.2,3.5,2.7,1.7,3.2,3.3
1,Chief executives,206680,Bachelor's degree,4.2,3.7,3.5,4.1,3.9,3.7,1.7,4.0,4.5,3.3,1.5,1.3,4.6,4.1,1.8,4.0,4.2
2,General and operations managers,101280,Bachelor's degree,4.1,3.5,3.1,3.6,3.6,3.6,1.7,3.7,4.0,3.0,1.7,1.7,4.1,3.6,1.7,3.5,3.8
3,Legislators[2],47290,Bachelor's degree,4.2,3.7,3.5,4.1,3.9,3.7,1.7,4.0,4.5,3.3,1.5,1.3,4.6,4.1,1.8,4.0,4.2
4,Advertising and promotions managers,131870,Bachelor's degree,4.0,3.6,3.5,3.5,3.5,3.5,1.6,3.5,3.2,3.0,1.3,1.3,3.8,3.1,1.4,3.9,3.7

In [17]:
skills_df['Education'].unique()

array(['—', "Bachelor's degree", 'High school diploma or equivalent',
       "Master's degree", "Associate's degree",
       'Postsecondary nondegree award',
       'No formal educational credential', 'Some college, no degree',
       'Doctoral or professional degree', nan], dtype=object)

In [19]:
skills_df['Education'] = skills_df['Education'].fillna('0')

In [21]:
skills_df['Education'] = skills_df['Education'].map({'-' : 0, 'No formal educational credential' : 0,'High school diploma or equivalent' : 1, 'Some college, no degree' : 1, 'Postsecondary nondegree award' : 1,'Associate\'s degree' : 2, 'Bachelor\'s degree' : 3, 'Master\'s degree' : 4, 'Doctoral or professional degree' : 5})

In [23]:
skills_df.head()

,Occupation,Salary,Education,Adaptability,Computers and information technology,Creativity and innovation,Critical and analytical thinking,Customer service,Detail oriented,Fine motor,Interpersonal,Leadership,Mathematics,Mechanical,Physical strength and stamina,Problem solving and decision making,Project management,Science,Speaking and listening,Writing and reading
0,"Total, all occupations",48060,NaN,3.8,3.0,2.7,3.1,3.3,3.6,2.5,3.5,3.2,2.6,1.9,2.2,3.5,2.7,1.7,3.2,3.3
1,Chief executives,206680,3.0,4.2,3.7,3.5,4.1,3.9,3.7,1.7,4.0,4.5,3.3,1.5,1.3,4.6,4.1,1.8,4.0,4.2
2,General and operations managers,101280,3.0,4.1,3.5,3.1,3.6,3.6,3.6,1.7,3.7,4.0,3.0,1.7,1.7,4.1,3.6,1.7,3.5,3.8
3,Legislators[2],47290,3.0,4.2,3.7,3.5,4.1,3.9,3.7,1.7,4.0,4.5,3.3,1.5,1.3,4.6,4.1,1.8,4.0,4.2
4,Advertising and promotions managers,131870,3.0,4.0,3.6,3.5,3.5,3.5,3.5,1.6,3.5,3.2,3.0,1.3,1.3,3.8,3.1,1.4,3.9,3.7

In [25]:
skills_df = skills_df.dropna()

In [27]:
skills_df.head()

,Occupation,Salary,Education,Adaptability,Computers and information technology,Creativity and innovation,Critical and analytical thinking,Customer service,Detail oriented,Fine motor,Interpersonal,Leadership,Mathematics,Mechanical,Physical strength and stamina,Problem solving and decision making,Project management,Science,Speaking and listening,Writing and reading
1,Chief executives,206680,3.0,4.2,3.7,3.5,4.1,3.9,3.7,1.7,4.0,4.5,3.3,1.5,1.3,4.6,4.1,1.8,4.0,4.2
2,General and operations managers,101280,3.0,4.1,3.5,3.1,3.6,3.6,3.6,1.7,3.7,4.0,3.0,1.7,1.7,4.1,3.6,1.7,3.5,3.8
3,Legislators[2],47290,3.0,4.2,3.7,3.5,4.1,3.9,3.7,1.7,4.0,4.5,3.3,1.5,1.3,4.6,4.1,1.8,4.0,4.2
4,Advertising and promotions managers,131870,3.0,4.0,3.6,3.5,3.5,3.5,3.5,1.6,3.5,3.2,3.0,1.3,1.3,3.8,3.1,1.4,3.9,3.7
5,Marketing managers,157620,3.0,4.0,3.6,3.4,3.7,3.5,3.4,1.7,3.5,3.8,3.1,1.1,1.3,4.0,3.3,1.3,3.8,3.7

In [29]:
skills_df.columns

Index(['Occupation', 'Salary', 'Education', 'Adaptability',
       'Computers and information technology', 'Creativity and innovation',
       'Critical and analytical thinking', 'Customer service',
       'Detail oriented', 'Fine motor', 'Interpersonal', 'Leadership',
       'Mathematics', 'Mechanical', 'Physical strength and stamina',
       'Problem solving and decision making', 'Project management', 'Science',
       'Speaking and listening', 'Writing and reading'],
      dtype='object')

In [31]:
skill_names = ['Salary', 'Education', 'Adaptability',
       'Computers and information technology', 'Creativity and innovation',
       'Critical and analytical thinking', 'Customer service',
       'Detail oriented', 'Fine motor', 'Interpersonal', 'Leadership',
       'Mathematics', 'Mechanical', 'Physical strength and stamina',
       'Problem solving and decision making', 'Project management', 'Science',
       'Speaking and listening', 'Writing and reading']

In [33]:
skills_df['Salary'].dtype

dtype('O')

In [35]:
skills_df['Salary'].unique()

array([206680, 101280, 47290, 131870, 157620, 135160, 134760, 119200,
       106470, 102340, 169510, 156100, 116970, 136380, 99200, 136350,
       125040, 83770, 104900, 54290, 103460, 102610, 88460, 165370, 63060,
       82380, 73460, 65360, 110680, 157740, 88670, 62850, 77030, 83960,
       75660, 57570, 133560, 84900, 71950, 75050, 74520, 75670, 74740,
       67650, 45730, 89980, 79400, 98580, 99410, 56920, 64160, 74530,
       64340, 74680, 79590, 79880, 61630, 84940, 79420, 99010, 99580,
       77860, 106090, 84300, 48570, 69990, 58530, 49010, 78310, 103800,
       120360, 145080, 71530, 59240, 129840, 101510, 134700, 95360, 99700,
       132270, 101800, 84960, 98540, 104920, 120000, 116440, 83640,
       104110, 108020, 70620, 93310, 79320, 76210, 68540, 130720, 88750,
       100730, 112100, 95890, 138080, 106950, 100090, 103690, 99380,
       100270, 104100, 99510, 100640, 125460, 135690, 111970, 61820,
       69260, 64060, 59260, 77830, 60700, 72800, 65080, 54000, 62610,
       64020, 62790, 73500, 48940, 70140, 82090, 68240, 107460, 85470,
       70600, 91100, 68750, 67330, 81390, 100890, 86950, 127930, 155680,
       92860, 84680, 106160, 78980, 92580, 88770, 112280, 115730, 60960,
       147420, 96100, 117750, 101770, 81800, 63800, 90880, 72890, 132350,
       43180, 49090, 51430, 56750, 50660, 52440, 55890, 101740, 56400,
       51880, 64940, 58350, 81140, 57920, 61710, 58510, 44040, 53710,
       46130, 53940, 62940, 55960, 63770, 62860, 61800, 41410, 48200,
       49690, 58920, 50140, 37960, 145760, 57490, 111090, 71540, 148910,
       60970, 53550, 67700, 97130, 96430, 81020, 105770, 106910, 85260,
       83920, 101650, 100690, 85810, 88410, 98020, 93650, 86030, 115300,
       85600, 93810, 82140, 82670, 77750, 105650, 80780, 73240, 80310,
       69030, 127360, 75020, 80360, 79910, 78130, 78760, 79930, 78410,
       75770, 62060, 79870, 37130, 62690, 63680, 64290, 63860, 65220,
       65130, 65270, 64910, 66600, 66620, 67190, 60560, 45330, 37380,
       39580, 64390, 59910, 61750, 48670, 64370, 39310, 59770, 74620,
       43750, 35550, 49800, 106500, 36600, 59300, 99060, 74750, 76250,
       79290, 34690, 58910, 62510, 36230, 59490, 67500, '—', 82510, 70280,
       45910, 35820, 52000, 62590, 44890, 57500, 66750, 80050, 73690,
       57090, 63940, 61900, 51640, 57690, 59430, 62240, 40760, 71340,
       76530, 166300, '>=239,200', 234000, 227690, 69680, 131860, 136030,
       130020, 141650, 96370, 99710, 98300, 57120, 77960, 89290, 54860,
       63650, 119100, 86070, 212650, 129650, 126260, 87740, 224640,
       223310, 198690, 236000, 78220, 87530, 107990, 60780, 66170, 84470,
       92500, 73410, 83740, 132880, 38930, 53180, 36520, 40300, 39700,
       60610, 43740, 41780, 59730, 48780, 44170, 78100, 58670, 47470,
       62990, 57930, 95770, 59160, 63630, 33530, 38200, 36830, 39160,
       67010, 36970, 64080, 33520, 55310, 46540, 42000, 45280, 37060,
       36200, 36440, 41810, 44490, 70530, 101750, 86220, 54580, 65050,
       74160, 54080, 53040, 53300, 60380, 46840, 72280, 72250, 43170,
       49540, 39210, 37070, 36370, 30380, 50020, 33130, 39360, 38520,
       29260, 35320, 42590, 35780, 34130, 35920, 32420, 31510, 29540,
       31940, 33110, 31180, 31200, 29220, 33870, 46650, 55740, 35020,
       33450, 39900, 43470, 37360, 44070, 49070, 43310, 61210, 46060,
       46690, 38810, 32240, 29170, 32710, 35160, 29780, 29390, 52370,
       33280, 54090, 41670, 33850, 51030, 36150, 34970, 47390, 34250,
       29530, 43200, 34840, 37150, 36060, 30370, 46480, 34410, 37950,
       36980, 46730, 84570, 29720, 33230, 37400, 36860, 33680, 61270,
       59080, 76900, 47410, 64600, 65630, 47430, 54300, 116950, 34480,
       34910, 44610, 63450, 36750, 38080, 49310, 44250, 45590, 47440,
       36110, 52240, 46670, 37640, 49940, 60150, 42120, 46110, 48000,
       39680, 50270, 38130, 30790, 34020, 47380, 44630, 41600, 47710,
       35840, 40610, 46210, 48330, 36710, 48890, 46860, 47720, 59570,
       56330, 53440, 53900, 39780, 43270, 70310, 50680, 40640, 44280,
       37790, 46450, 51290, 46900, 36880, 40480, 37450, 48790, 50510,
       43230, 57320, 48010, 47540, 34360, 39690, 34470, 35120, 40620,
       33940, 53170, 48240, 45600, 52480, 76760, 71140, 59640, 51830,
       56350, 47520, 48840, 47760, 48910, 50720, 48900, 45300, 48980,
       63550, 56160, 55700, 63350, 61590, 51100, 53920, 47700, 48460,
       47330, 61550, 52640, 54850, 50030, 58780, 62760, 48800, 42470,
       39380, 38340, 37010, 37650, 38620, 40220, 102420, 44410, 47280,
       47360, 67000, 46910, 47090, 58210, 61770, 55750, 50050, 56660,
       61420, 66660, 64070, 68910, 46530, 46340, 45520, 49580, 75820,
       45760, 61310, 77420, 49230, 79160, 66680, 96600, 45570, 48380,
       56430, 48740, 45320, 47770, 58970, 49210, 65030, 49990, 46270,
       44140, 38320, 47950, 35790, 48650, 70100, 57300, 47170, 57350,
       62980, 48410, 85420, 64640, 46850, 60670, 42800, 58140, 62040,
       46700, 44980, 61300, 38980, 56220, 82710, 46500, 65930, 61240,
       40490, 48480, 40200, 38920, 34950, 36300, 38160, 39850, 38460,
       38550, 36890, 44390, 46990, 47040, 42400, 44620, 42610, 47110,
       47200, 50840, 50250, 48690, 64190, 49670, 44300, 38870, 61490,
       45350, 44240, 62270, 39740, 46410, 41200, 45070, 41860, 38100,
       31050, 34440, 36020, 36650, 35340, 36620, 35530, 44030, 42730,
       35130, 43260, 39790, 45040, 48630, 38000, 38260, 37760, 120350,
       104750, 97010, 67640, 54890, 80030, 82560, 94580, 56940, 51720,
       48120, 44510, 38940, 46100, 37040, 44310, 42670, 45640, 45850,
       47450, 47690, 44960, 37720, 38330, 40230, 45560, 35620, 48550,
       63440, 43540, 39340, 42420, 40040, 47250, 36700, 37430, 60510,
       219140, 113080, 137380, 51140, 68370, 32580, 35420, 54320, 45660,
       60170, 35240, 34680, 35690, 74770, 57070, 63540, 71130, 84270,
       44660, 48400, 88730, 46420, 94270, 49120, 32840, 33820, 39110,
       87290, 39260, 64690, 50440, 55950, 44470, 34150, 37660, 39250,
       34830, 36390, 61870, 54690, 71830, 58620, 40310], dtype=object)

In [37]:
#Cleaning the salary column
skills_df['Salary'] = skills_df['Salary'].replace('—', '0')
skills_df['Salary'] = skills_df['Salary'].replace('>=239,200', '239200')
# skills_df['Salary'] = skills_df['Salary'].astype(int)

In [39]:
skills_df = skills_df.dropna()

In [41]:
skills_df['Salary'] = skills_df['Salary'].astype(int)

In [43]:
X = skills_df.drop(['Salary','Occupation'],axis = 1)
y = skills_df['Salary']

In [45]:
y.unique()

array([206680, 101280,  47290, 131870, 157620, 135160, 134760, 119200,
       106470, 102340, 169510, 156100, 116970, 136380,  99200, 136350,
       125040,  83770, 104900,  54290, 103460, 102610,  88460, 165370,
        63060,  82380,  73460,  65360, 110680, 157740,  88670,  62850,
        77030,  83960,  75660,  57570, 133560,  84900,  71950,  75050,
        74520,  75670,  74740,  67650,  45730,  89980,  79400,  98580,
        99410,  56920,  64160,  74530,  64340,  74680,  79590,  79880,
        61630,  84940,  79420,  99010,  99580,  77860, 106090,  84300,
        48570,  69990,  58530,  49010,  78310, 103800, 120360, 145080,
        71530,  59240, 129840, 101510, 134700,  95360,  99700, 132270,
       101800,  84960,  98540, 104920, 120000, 116440,  83640, 104110,
       108020,  70620,  93310,  79320,  76210,  68540, 130720,  88750,
       100730, 112100,  95890, 138080, 106950, 100090, 103690,  99380,
       100270, 104100,  99510, 100640, 125460, 135690, 111970,  61820,
        69260,  64060,  59260,  77830,  60700,  72800,  65080,  54000,
        62610,  64020,  62790,  73500,  48940,  70140,  82090,  68240,
       107460,  85470,  70600,  91100,  68750,  67330,  81390, 100890,
        86950, 127930, 155680,  92860,  84680, 106160,  78980,  92580,
        88770, 112280, 115730,  60960, 147420,  96100, 117750, 101770,
        81800,  63800,  90880,  72890, 132350,  43180,  49090,  51430,
        56750,  50660,  52440,  55890, 101740,  56400,  51880,  64940,
        58350,  81140,  57920,  61710,  58510,  44040,  53710,  46130,
        53940,  62940,  55960,  63770,  62860,  61800,  41410,  48200,
        49690,  58920,  50140,  37960, 145760,  57490, 111090,  71540,
       148910,  60970,  53550,  67700,  97130,  96430,  81020, 105770,
       106910,  85260,  83920, 101650, 100690,  85810,  88410,  98020,
        93650,  86030, 115300,  85600,  93810,  82140,  82670,  77750,
       105650,  80780,  73240,  80310,  69030, 127360,  75020,  80360,
        79910,  78130,  78760,  79930,  78410,  75770,  62060,  79870,
        37130,  62690,  63680,  64290,  63860,  65220,  65130,  65270,
        64910,  66600,  66620,  67190,  60560,  45330,  37380,  39580,
        64390,  59910,  61750,  48670,  64370,  39310,  59770,  74620,
        43750,  35550,  49800, 106500,  36600,  59300,  99060,  74750,
        76250,  79290,  34690,  58910,  62510,  36230,  59490,  67500,
            0,  82510,  70280,  45910,  35820,  52000,  62590,  44890,
        57500,  66750,  80050,  73690,  57090,  63940,  61900,  51640,
        57690,  59430,  62240,  40760,  71340,  76530, 166300, 239200,
       234000, 227690,  69680, 131860, 136030, 130020, 141650,  96370,
        99710,  98300,  57120,  77960,  89290,  54860,  63650, 119100,
        86070, 212650, 129650, 126260,  87740, 224640, 223310, 198690,
       236000,  78220,  87530, 107990,  60780,  66170,  84470,  92500,
        73410,  83740, 132880,  38930,  53180,  36520,  40300,  39700,
        60610,  43740,  41780,  59730,  48780,  44170,  78100,  58670,
        47470,  62990,  57930,  95770,  59160,  63630,  33530,  38200,
        36830,  39160,  67010,  36970,  64080,  33520,  55310,  46540,
        42000,  45280,  37060,  36200,  36440,  41810,  44490,  70530,
       101750,  86220,  54580,  65050,  74160,  54080,  53040,  53300,
        60380,  46840,  72280,  72250,  43170,  49540,  39210,  37070,
        36370,  30380,  50020,  33130,  39360,  38520,  29260,  35320,
        42590,  35780,  34130,  35920,  32420,  31510,  29540,  31940,
        33110,  31180,  31200,  29220,  33870,  46650,  55740,  35020,
        33450,  39900,  43470,  37360,  44070,  49070,  43310,  61210,
        46060,  46690,  38810,  32240,  29170,  32710,  35160,  29780,
        29390,  52370,  33280,  54090,  41670,  33850,  51030,  36150,
        34970,  47390,  34250,  29530,  43200,  34840,  37150,  36060,
        30370,  46480,  34410,  37950,  36980,  46730,  84570,  29720,
        33230,  37400,  36860,  33680,  61270,  59080,  76900,  47410,
        64600,  65630,  47430,  54300, 116950,  34480,  34910,  44610,
        63450,  36750,  38080,  49310,  44250,  45590,  47440,  36110,
        52240,  46670,  37640,  49940,  60150,  42120,  46110,  48000,
        39680,  50270,  38130,  30790,  34020,  47380,  44630,  41600,
        47710,  35840,  40610,  46210,  48330,  36710,  48890,  46860,
        47720,  59570,  56330,  53440,  53900,  39780,  43270,  70310,
        50680,  40640,  44280,  37790,  46450,  51290,  46900,  36880,
        40480,  37450,  48790,  50510,  43230,  57320,  48010,  47540,
        34360,  39690,  34470,  35120,  40620,  33940,  53170,  48240,
        45600,  52480,  76760,  71140,  59640,  51830,  56350,  47520,
        48840,  47760,  48910,  50720,  48900,  45300,  48980,  63550,
        56160,  55700,  63350,  61590,  51100,  53920,  47700,  48460,
        47330,  61550,  52640,  54850,  50030,  58780,  62760,  48800,
        42470,  39380,  38340,  37010,  37650,  38620,  40220, 102420,
        44410,  47280,  47360,  67000,  46910,  47090,  58210,  61770,
        55750,  50050,  56660,  61420,  66660,  64070,  68910,  46530,
        46340,  45520,  49580,  75820,  45760,  61310,  77420,  49230,
        79160,  66680,  96600,  45570,  48380,  56430,  48740,  45320,
        47770,  58970,  49210,  65030,  49990,  46270,  44140,  38320,
        47950,  35790,  48650,  70100,  57300,  47170,  57350,  62980,
        48410,  85420,  64640,  46850,  60670,  42800,  58140,  62040,
        46700,  44980,  61300,  38980,  56220,  82710,  46500,  65930,
        61240,  40490,  48480,  40200,  38920,  34950,  36300,  38160,
        39850,  38460,  38550,  36890,  44390,  46990,  47040,  42400,
        44620,  42610,  47110,  47200,  50840,  50250,  48690,  64190,
        49670,  44300,  38870,  61490,  45350,  44240,  62270,  39740,
        46410,  41200,  45070,  41860,  38100,  31050,  34440,  36020,
        36650,  35340,  36620,  35530,  44030,  42730,  35130,  43260,
        39790,  45040,  48630,  38000,  38260,  37760, 120350, 104750,
        97010,  67640,  54890,  80030,  82560,  94580,  56940,  51720,
        48120,  44510,  38940,  46100,  37040,  44310,  42670,  45640,
        45850,  47450,  47690,  44960,  37720,  38330,  40230,  45560,
        35620,  48550,  63440,  43540,  39340,  42420,  40040,  47250,
        36700,  37430,  60510, 219140, 113080, 137380,  51140,  68370,
        32580,  35420,  54320,  45660,  60170,  35240,  34680,  35690,
        74770,  57070,  63540,  71130,  84270,  44660,  48400,  88730,
        46420,  94270,  49120,  32840,  33820,  39110,  87290,  39260,
        64690,  50440,  55950,  44470,  34150,  37660,  39250,  34830,
        36390,  61870,  54690,  71830,  58620,  40310])

In [47]:
skills_df.shape

(832, 20)

In [49]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.2, random_state= 1)

In [51]:
y_test

74     71530
551    50510
118    77830
373    57930
217    93810
       ...
812    39110
136    67330
206    85260
312    69680
135    68750
Name: Salary, Length: 167, dtype: int32

In [53]:
model = RandomForestRegressor(n_estimators = 500, random_state = 20)
model.fit(X_train,y_train)

y_pred = model.predict(X_test)

In [55]:
y_pred

array([ 64803.85      ,  90585.06      ,  77441.295     ,  68550.98      ,
        96923.33433333,  79399.091     ,  69167.30333333, 204190.63333333,
       105078.56      ,  81128.02833333,  47658.946     ,  79613.41      ,
        50173.5       ,  46579.35      ,  51595.72      ,  99611.64      ,
        52078.82      ,  47790.32666667,  69415.50333333,  81131.04      ,
        50333.302     ,  69820.35433333,  97671.66      ,  47604.42666667,
        39726.908     ,  47270.14      ,  44122.29333333, 113038.58833333,
        60390.43      ,  42574.78      ,  52234.13      ,  44963.71333333,
        51027.78      ,  43919.448     ,  44353.        ,  38204.7       ,
        45594.4       ,  34844.83833333,  35139.42      ,  45393.8       ,
       108431.48      ,  45456.74      ,  67907.69      ,  62006.9       ,
       104177.70666667, 105079.24033333, 111874.56666667,  46267.24      ,
        69869.35333333,  44859.49333333,  45047.7       ,  43306.33666667,
        56421.08      ,  47988.00666667,  32868.58      ,  38813.65166667,
        45306.7       ,  47326.14      ,  74354.74      ,  53525.44      ,
        61503.78      ,  93072.66      ,  57083.34      ,  44679.46      ,
        46555.3       , 114902.31466667,  37640.96      ,  57790.98      ,
        70371.97333333,  44782.4       ,  44598.45466667,  35892.72      ,
        26794.21      ,  86458.477     ,  79486.16133333,  46497.98      ,
        99122.61895238,  60175.58      ,  45542.3       ,  53893.1       ,
       112194.55321212,  53619.92      , 110587.3       ,  57897.3       ,
        60905.3       ,  62965.9       ,  52965.68      ,  38409.24      ,
       102851.75333333,  48651.54666667,  62942.22      , 104730.1       ,
        71425.88      ,  50334.74      ,  44975.51      ,  32443.05      ,
        48108.82      ,  24247.98      ,  62157.45333333,  80136.14      ,
        60413.04      ,  38431.71      ,  40730.884     , 129642.79166667,
        39338.46666667, 154973.11866667,  48220.76      , 101303.96666667,
        69668.16433333,  95223.01466667,  51371.695     ,  51647.99333333,
       102739.328     ,  42793.94666667, 113230.42      ,  79725.27166667,
       145588.23666667, 119776.71366667, 237449.22      , 110275.76121212,
        57570.9       ,  78468.25333333,  41913.66666667,  60947.31866667,
        41507.98      ,  89030.05      ,  74633.44      ,  65998.98      ,
        45318.09580952, 114295.34666667,  46596.54      , 109540.298     ,
        95527.61095238,  42516.14      ,  52785.72      ,  42611.3       ,
        43624.51333333,  48020.9       ,  67277.83      ,  51151.13      ,
        67059.54      ,  46254.9       ,  49747.86      ,  41160.164     ,
        96285.45614286,  76390.125     ,  62972.98      ,  43243.82      ,
        51986.81447619,  57391.38      ,  37604.43447619,  83065.72      ,
       109346.705     ,  71381.22      ,  46861.98      ,  99122.61895238,
        65334.70666667,  41810.83333333,  63455.06      ,  40902.97      ,
        49157.64      ,  45413.565     ,  74354.74      , 103773.97266667,
        90019.65666667,  85328.78      ,  70417.36666667])

In [57]:
mae = mean_absolute_error(y_test, y_pred)
mae

11262.468746481065

In [59]:
mse = mean_squared_error(y_test, y_pred)
mse

287199669.66766375

In [61]:
rmse = mse ** 0.5
rmse

16946.96638539369

In [63]:
r2 = r2_score(y_test, y_pred)
r2

0.7832028503646313

In [65]:
#Predicting Salary of test user.
test_user = [[5,4.5,5,4.1,4.2,4.4,4,4.3,3.2,4.1,5,4.2,3.3,2.1,5,4.4,5,3.9]]
model.predict(test_user)

D:\Softwares\Anaconda\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

array([136288.042])

In [67]:
joblib.dump(model, "rf_salary_model.pkl")

['rf_salary_model.pkl']

In [45]:
param_grid = {
    'n_estimators': [500, 800, 1000],         # Number of trees
    'max_depth': [None, 10, 20, 30],        # Maximum depth of each tree
    'min_samples_split': [2, 5, 10],        # Minimum samples required to split an internal node
    'min_samples_leaf': [1, 2, 4],          # Minimum samples required to be at a leaf node
    'max_features': ['sqrt', 'log2'] # Number of features to consider when looking for the best split
}

grid_search = GridSearchCV(estimator=model, param_grid=param_grid, cv=5, n_jobs=-1, verbose=2, scoring='r2')
grid_search.fit(X_train, y_train)

Fitting 5 folds for each of 216 candidates, totalling 1080 fits

GridSearchCV(cv=5,
             estimator=RandomForestRegressor(n_estimators=500, random_state=20),
             n_jobs=-1,
             param_grid={'max_depth': [None, 10, 20, 30],
                         'max_features': ['sqrt', 'log2'],
                         'min_samples_leaf': [1, 2, 4],
                         'min_samples_split': [2, 5, 10],
                         'n_estimators': [500, 800, 1000]},
             scoring='r2', verbose=2)

In [46]:
best_model = grid_search.best_estimator_

In [47]:
y_pred = best_model.predict(X_test)
r2_score(y_test, y_pred)

0.7701525443089112